<!DOCTYPE html>
<html>
<head>
    <title>Rounded Buttons with Background Image</title>
    <link rel="stylesheet" href="/static/portalStyle.css">
    
</head>
<body>


<!-- <div class=".button-container" >
    <button class="choice-btn">Return books</button>
    <button class="choice-btn">Borrow books</button>
</div> -->
<div class="main-login-form" >
    <div class="login-form-label">
        <h2>Check In/Out</h2>
      </div>
    <a style="text-decoration:none" class="choice-btn " href="#">Return books</a>
    <a style="text-decoration:none" class="choice-btn " href="#">Borrow books</a>
    <!-- <a style="text-decoration:none" class="choice-btn " href="details.html">Details</a> -->
</div>




</body>
</html>
